Package: tech.kodeycodesstuff.spotifyblue
Name: SpotifyBlue
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Version: 1.3-b
Architecture: iphoneos-arm
Description: Opens Spotify When you Connect a Bluetooth audio device.
Maintainer: Kodey Thomas
Author: Kodey Thomas
Section: Tweaks
