Package: tech.kodeycodesstuff.spotifyblue
Name: SpotifyBlue
Depends: mobilesubstrate
Version: 1.2-b
Architecture: iphoneos-arm
Description: Opens Spotify When you Connect a Bluetooth audio device.
Maintainer: Kodey Thomas
Author: Kodey Thomas
Section: Tweaks
