Package: tech.kodeycodesstuff.spotifyblue
Name: SpotifyBlue
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Opens Spotify When you Connect a Bluetooth audio device.
Maintainer: Kodey Thomas
Author: Kodey Thomas
Section: Tweaks
Version: 1.2-b
Installed-Size: 104
