Package: tech.kodeycodesstuff.spotifyblue
Name: SpotifyBlue
Depends: mobilesubstrate, ws.hbang.common (>= 1.15.1)
Architecture: iphoneos-arm
Description: Opens Spotify When you Connect a Bluetooth audio device.
Maintainer: Kodey Thomas
Author: Kodey Thomas
Section: Tweaks
Version: 1.4-b
Installed-Size: 348
